@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.inter{
    font-family: 'Inter', sans-serif;
}
/* common themes */
.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: red;
    padding: 10px 24px;
}
.btn-round{
    border-radius: 41px;
}
nav > ul{
    list-style: none;
    display: flex;
    gap: 34px;
    /* border:1px solid blue; */
    align-items: center;
}
nav > ul a{
    font-family: "poppins";
    text-decoration: none;
    color:black;
}
header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    border: 1px solid red;
    padding: 87px 120px;
}
.banner{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px 120px;
}
.banner-image{
    border:1px solid red;
    background-image: url("/images/Circle\ design.svg");
}
.icon-section{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.target{
    display: flex;
    align-items: center;
    justify-content: center;
}
.collection-heading{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 250% */
    margin-top:100px;
    margin-bottom: 30px;
    text-align: center;
}
.cards{
    display:grid;
    grid-template-columns: repeat(3,330px);
    gap:30px;
    margin:0 120px;
    justify-content: center;
}
.card{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding:16px;
}




footer{
    background-color: black;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.copyright{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.social-icons{
    display: flex;
    flex-direction: row;
}