*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
footer{
    background-color: black;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.copyright{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.social-icons{
    display: flex;
    flex-direction: row;
}